@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap");

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
header {
  padding: 20px;
  background: rgb(90, 90, 219) url("../img/todo-bg.avif") 437px -107px no-repeat;
}

header h1 {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  color: #fff;
  margin-left: 56px;
  text-transform: uppercase;
}
.itemsAddWrap {
    padding: 20px;
    background: rgb(186, 177, 242);
}
.itemsAddWrap input {
    display: inline-block;
    margin: 0;
    border: none;
    border-radius: 0;
    width: 97%;
    padding: 10px;
    font-size: 16px;
    position: relative;
    right: -3px;
  }

  .itemsWrap{
    height:350px;
    overflow-y: scroll;
  }

  /* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 0 0 0 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    list-style: none;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: rgb(202 196 240);
  }
  ul li div{
    padding: 12px 8px 12px 0;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: rgb(90, 90, 219);
    color: #fff;
    text-decoration: line-through;
    margin-bottom:1px;
  }
  
  
  
  ul li.checked span {
    color: #fff;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: "";
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }


.itemsFooter{
    padding:20px;
    background:rgb(186, 177, 242);
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  .itemsCountWrap{
    width:200px;
  }
  .itemsCount{
    font-weight: bold;
    background: #ff5f00;
    padding: 5px 25px;
    color: #fff;
    display: inline-block;
  }

  .itemsSortWrap{
    width:500px;
    display: flex;
    justify-content: space-around;
  }

  .itemsAll,.itemsActive,.itemsCompleted{
    text-align: center;
    height: 100%;
    width: 32%;
    background: #5a5adc;
    border: 0;
    padding: 6px 0;
    color: #fff;
    transition: background-color .3s;
  }

  .itemsAll:hover, .itemsActive:hover, .itemsCompleted:hover{
    cursor: pointer;
    background-color: #8383de;
  }
  
  .itemsAll:active, .itemsActive:active, .itemsCompleted:active{
    cursor: pointer;
    background-color: #3131db;
  }

  

  .itemsCleartWrap{
    width:200px;
    display: flex;
    justify-content: flex-end;
  }

  .itemsCleartBtn{
    text-align: center;
    height: 100%;
    width: 70%;
    background: #be26c5;
    border: 0;
    padding: 6px 0;
    color: #fff;
    transition: background-color .3s;
  }
  
  .itemsCleartBtn:hover{
    background-color: #d453da;
    cursor: pointer;
  }
  .itemsCleartBtn:active{
    background-color: #a81caf;
    cursor: pointer;
  }
